#monitor-select,
#monitor-select option {
    cursor: pointer;
    /* Define o cursor como um ponteiro (dedo) */
}

.header-top {
    background-color: #ff7900;
    padding: 7px 0;

}

.header-top .header-links a {
    color: #ffffff;
    margin-right: 8px;
    text-decoration: none;

}

.header-top .header-links span {
    color: #fff;
    margin-right: 5px;
    cursor: pointer;

}

.bg-yellow {
    background-color: #ffc40c;
}

.navbar .nav-link {
    color: #000 !important;
    font-weight: bold;
}

.navbar .nav-link.active {
    color: green !important;
}


.logo {
    height: 50px;
    /* Ajuste a altura conforme necessário */
    margin-right: 10px;
    
}

.shadow-sm {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

/*Imagem Home */
.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    width: 100%;
    height: auto;
    margin-top: 2px;
    /* Ajuste a margem conforme necessário */
}

/*Footer */

.footer {
    background-color: #FFCC00;
    color: black;
    padding: 20px 0;
    text-align: center;
    border-top: 13px solid rgba(255, 123, 0, 0.966); /* Adiciona uma borda laranja de 4px na parte superior */

}

.footer img:last-child {
    max-width: 180px; /* Ajuste o tamanho conforme necessário */
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    max-width: 100px;
    height: auto;
    margin: 10px;
}

.footer p {
    flex: 1;
    margin: 10px;
    text-align: left;
}

@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer p {
        text-align: center;
    }
}
