#monitor-select,
#monitor-select option,
#another-monitor-select {
    cursor: pointer;
    /* Define o cursor como um ponteiro (dedo) */
}

#chart2, #chart3 {
    width: 100%;
    height: 350px;
  }
  