@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
#monitor-select,
#monitor-select option,
#another-monitor-select {
    cursor: pointer;
}

#chart2,
#chart3 {
    width: 100%;
    height: 350px;
}

#chart-line, #chart-line2 {
    width: 100%;
    height: 100%;
    min-height: 130px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.h1-custom-heading {
    font-weight: bold;
    color: rgb(25, 135, 84);
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

h3.text-center {
    font-size: 30px;
    color: rgb(25, 135, 84);
    font-weight: bold;
    margin-top: 40px;
}

.text-center.mb-4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.chart-container {
    margin-bottom: 20px;
    border-radius: 10px;
}

#niveis2 {
    margin-bottom: 20px;
}

.responsive-img {
    max-width: 150%;
    height: auto;
}

.custom-padding {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .custom-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 992px) {
    .custom-padding {
        padding-left: 200px;
        padding-right: 200px;
    }
}

#monitorForm {
    padding: 5px;
    width: 650px;
}

#monitor-select-main {
    font-weight: bold;
    background-color: #ffdd75;
    color: #080000;
    padding: 5px;
    border: 1px solid #080000; 
    font-size: 15px;

}

#monitor-select-main option {
    font-weight: bold;
    color: #000003;
    font-size: 15px;
}

/* Mapa CSS */
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: white;
    width:600px;
    height: auto;
    opacity: 0.8;
    color: black;
    font-family:'Alfa Slab One';
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

#map {
    width: 100%;
    height: 450px;
    border-radius: 15px;
    border: 2px solid #035a0a;
}


/* Novo conteúdo */

.info-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0px;
}

.info-header {
    background-color: #a8e05f;
    color: #5a5a5a;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150 px; /* Aumenta a altura */
}

.info-title {
    display: flex;
    align-items: center;
}

.icon-pm-container {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-pm {
    margin-right: 10px;
    width: 128px;
    height: 135px;
}

.centered-text {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-container p {
    margin: 0;
    font-size: 1rem;
    color: #5a5a5a;
}

.text-container h3 {
    margin: 2px 0 0 0;
    font-size: 3.5rem;
    color: #6a6a6a
}

.info-status {
    display: flex;
    align-items: center;
}

.smile-icon {
    width: 165px;
    height: 158px;
    margin-left: 15px;
}

.info-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.recomendacao-titulo {
    color: #ff8c00;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 2rem;
}

.recomendation {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.recomendation img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
}

.recomendation p {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
}

.fonte-text {
    color: #333333;
    font-size: 0.9rem;
    text-align: right;
}

.fonte-text a {
    color: #cf7608;
    text-decoration: none;
}

@media (max-width: 768px) {
    .info-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-status {
        margin-top: 10px;
    }

    .recomendation {
        width: 100%;
        margin-bottom: 10px;
    }

    .smile-icon {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .fonte-text {
        text-align: center;
    }
}
