#monitor-select,
#monitor-select option,
#another-monitor-select {
    cursor: pointer;
}

#chart2, #chart3 {
    width: 100%;
    height: 350px;
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.h1-custom-heading {
    font-weight: bold;
    color: rgb(25, 135, 84);
    margin-top: 30px;
    margin-bottom: 10px; 
    text-align: center;
}

h3.text-center {
    font-size: 30px; 
    color: rgb(25, 135, 84);
    font-weight: bold;
    margin-top: 10px;
}

.text-center.mb-4 {
    margin-top: 30px; 
    margin-bottom: 10px; 
}

.chart-container {
    margin-bottom: 20px; 
    border-radius: 10px;
}

#niveis2 {
    margin-bottom: 20px; 
  
}

.responsive-img {
    max-width: 150%; 
    height: auto; 
}

.rounded-border {
    border-radius: 130px; 
}